<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
  <meta http-equiv="Content-Language" content="en-us" />
  <title><%= ActiveRecord::Base.configurations[RAILS_ENV]['title'] + " " +  ActiveRecord::Base.configurations[RAILS_ENV]['subtitle'] -%></title>
  <%= stylesheet_link_tag "encode" %>
  <%= javascript_include_tag "prototype" %>
  <%= google_analytics_js %>
</head>
<body>
  <%= yield %>

  <br/><br/>
  <div style="text-align:center">
    <%= link_to_function "Close", "window.close();" %>
  </div>
</body>
</html>
