<strong>Welcome, <%= @user.name -%> !</strong>
<p>You have successfully signed up.</p>
<p>Check your email and click the URL provided to activate your account.</p>

<p><%= link_to "Log in" { :action => :login } %></p>

