<div align="center">
  <table border="1" style="border:thin solid black;" width="95%">
    <tr>
      <th style="background-color:#0000AA; color: white; text-align:center">Status</th>
    </tr>
    <tr>
      <td style="text-align: left; vertical-align: bottom; font-size: 90%;"><%= @command.formatted_status %></td>
    </tr>
  </table>
</div>
