  <div style="border: thin solid black">
    <%= render :partial => "last_command_status" %>
    <hr/>
    <%= render :partial => "command_queue" %>
    <hr/>
    <%= render :partial => "command_history" %>
  </div>
