  <div id="command_panel_content">
    <%= render :partial => "last_command_status" %>
    <hr style="text-align: left; margin-top: 2px; margin-bottom: 12px; margin-left: 0px;"/>
    <%= render :partial => "command_queue" %>
    <hr style="text-align: left; margin-top: 2px; margin-bottom: 12px; margin-left: 0px;"/>
    <%= render :partial => "command_history" %>
  </div>
