<b>Current Running Task:</b>
<% if @active_command.nil? then %>
  No task running.
<% else %>
  <%= @active_command.name %><br/>
  <span style="font-size: 80%; nowrap;">
    <%=@active_command.short_formatted_status %>
  </span>
  <%= link_to "view full output", { :action => :command_status, :id => @last_command_run }, :style => "font-size: 80%", :popup => ["command_details", "height=400,width=680,location=0,address=0,scrollbars=1"], :target => "_blank" %><br/>
<% end %>
