  <div id="tools_panel_content">
    <b>Tools</b>
    <hr style="text-align: left; margin-top: 2px; margin-bottom: 12px; margin-left: 0px;"/>
    <%= link_to "Liftover", { :action => :liftover, :id  => @project.id } %> (<i>C. elegans</i> only)
    <br/>
    <br/> 
    <% if (current_user.is_a?(Moderator)) then %>
    <%= link_to "Add ChadoXML Properties", { :action =>  :add_experiment_prop,
      :id => @project.id } %>
    <% end %>
  
  
  </div>
