body {
  /* font-family: Helvetica, Geneva, Arial, sans-serif; */
  font-family: sans-serif;
}

A { color: blue; }

#command_panel {
  float: right;
  width: 25%;
  overflow: hidden;
  font-size: 80%;
  border: thin solid #CCCCCC;
  border-bottom: medium solid #CCCCCC;
  border-right: medium solid #CCCCCC;
}

#project_details {
  text-align: left;
}

A.smallLink { font-size: 60%; padding-left: 4px; padding-right: 4px; }
A.strong { font-weight: bold; font-size: 110% }

TD { vertical-align: bottom }

TABLE.status TH { text-align: right; padding-right: 15px; vertical-align: top; white-space: nowrap; }
TABLE.archive_list TH, TABLE.archive_list TD { white-space: nowrap; padding-top: 2px; text-align: left; padding-right: 15px; vertical-align: top }

TABLE.archive_list2 TH { white-space: nowrap; padding-top: 2px; text-align: center; padding-right: 10px; padding-left: 7px; vertical-align: top }
TABLE.archive_list2 TD { white-space: nowrap; padding-top: 2px; text-align: center; padding-right: 10px; padding-left: 7px; vertical-align: top }
TABLE.archive_list2 TH.name { width: 75%;  white-space: normal; padding-top: 2px; text-align: left; padding-right: 15px; vertical-align: top }
TABLE.archive_list2 TD.name { width: 75%; white-space: normal; padding-top: 2px; text-align: left; padding-right: 15px; vertical-align: top }

#container {
}

TABLE.table_buttons { vertical-align: top; width: 100%; white-space: nowrap }
TABLE.table_buttons TD { vertical-align: top; padding-right: 10px }
TABLE.table_buttons TD.left { vertical-align: top; text-align: left }
TABLE.table_buttons TD.right { vertical-align: top; text-align: right }
 


#header {
  padding: 5px;
  font-size: 18pt;
  text-align: left;
  height: 58px;
}

#user {
  text-align: right;
  margin-top: 0px;
  font-size: 12pt;
  padding: 0.25em;
}

#nav {
  font-size: 12pt;
  /* font-weight: bold; */
  background: #ddd;
  padding: 0.5em;
}

#nav a, #nav a:visited {
  font-size: 12pt;
  text-decoration: none;
}



a {
text-decoration: none;
}

#nav a:hover {
  border-bottom: 2px dotted;
}

#content {
  font-size: 90%;
  margin-left: 2%;
  margin-right: 2%;
  clear: both;
}

#welcome {
  font-size: 12pt;
  margin-top:5%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 5%;
  border: 2px solid #bbb;
}

#footer {
  clear: both;
  font-size: 12pt;
  text-align: center;
  background: #ddd;
  margin-left: 35%;
  width: 150px;
  padding: 0.4em;
}

#content a, #content a:visited, #footer a, #footer a:visited #welcome a, #welcome a:visited {
  text-decoration: none;
  margin-bottom: 0;
  margin-top: 0;
}

#content a:hover, #footer a:hover  {
  border-bottom: 2px dotted;
}

#content h1 {
  font-size: 14pt;
}
#content h2 {
  margin-top: 0px;
  font-size: 12pt;
}

#message {
  font-size: 12pt;
  margin-top: 2px;
  margin-bottom: 5px;
}

#notice  { background:#9e9; color:#222; padding: 5px }
#warning { background:#ee8; color:#222; padding: 5px }
#error { background:#fbb; color:#222; padding: 5px }
.flash { padding:10px; text-align:center}

.fieldWithErrors {
    display: table;
    padding: 2px;
}

#errorExplanation {
    font-size: 12pt;
    padding-bottom: 5px;
    background-color:#f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    padding: 4px 4px 4px 10px;
    font-size: 12pt;
}

input, select {
    font-size: 12pt;
    margin: 2px;
}

.button-to {
    margin: 0;
}

ol.submission-progress {
    position: relative;
    display: block;
    width: 800px;
    height: 40px;
    padding: 0;
    margin: 2px;
}

ol.submission-progress li { margin: 0; padding: 0; display: inline; }
ol.submission-progress li span { position: absolute; left: -9999px; }
ol.submission-progress#step1 { background: url("/submit/images/progress/checkout_1_800.png") no-repeat left; }
ol.submission-progress#step2 { background: url("/submit/images/progress/checkout_2_800.png") no-repeat left; }
ol.submission-progress#step3 { background: url("/submit/images/progress/checkout_3_800.png") no-repeat left; }
ol.submission-progress#step4 { background: url("/submit/images/progress/checkout_4_800.png") no-repeat left; }
ol.submission-progress#step5 { background: url("/submit/images/progress/checkout_5_800.png") no-repeat left; }
ol.submission-progress#step6 { background: url("/submit/images/progress/checkout_6_800.png") no-repeat left; }
ol.submission-progress#step7 { background: url("/submit/images/progress/checkout_7_800.png") no-repeat left; }
ol.submission-progress#step8 { background: url("/submit/images/progress/checkout_8_800.png") no-repeat left; }
ol.submission-progress#step9 { background: url("/submit/images/progress/checkout_9_800.png") no-repeat left; }
ol.submission-progress#step10 { background: url("/submit/images/progress/checkout_10_800.png") no-repeat left; }

a#step1-link { display: block; width: 70px; height: 50px; position: absolute; top: 150px; left: 30px; }
a#step2-link { display: block; width: 65px; height: 50px; position: absolute; top: 150px; left: 110px; }
a#step3-link { display: block; width: 75px; height: 50px; position: absolute; top: 150px; left: 180px; }
a#step4-link { display: block; width: 70px; height: 50px; position: absolute; top: 150px; left: 280px; }
a#step5-link { display: block; width: 110px; height: 50px; position: absolute; top: 150px; left: 350px; }
a#step6-link { display: block; width: 75px; height: 50px; position: absolute; top: 150px; left: 470px; }
a#step7-link { display: block; width: 75px; height: 50px; position: absolute; top: 150px; left: 550px; }
a#step8-link { display: block; width: 75px; height: 50px; position: relative; top: 0px; left: 620px; }
a#step9-link { display: block; width: 75px; height: 50px; position: relative; top: 0px; left: 690px; }
a#step10-link { display: block; width: 75px; height: 50px; position: relative; top: 0px; left: 740px; }

DIV#command_panel_content {
  border: thin solid black;
  padding: 2px;
}
