<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
    <%= ActiveRecord::Base.configurations[RAILS_ENV]['title'] + " " +  ActiveRecord::Base.configurations[RAILS_ENV]['subtitle'] -%>
    </title>
    <%= stylesheet_link_tag "encode" %>
  </head>
  <body>

  <div id="container">
  <img align="left" height="85" src="/images/encode_logo.png">
    <div id="header">
        <%= ActiveRecord::Base.configurations[RAILS_ENV]['title'] -%>
        <span style="color:gray;">
          <%= ActiveRecord::Base.configurations[RAILS_ENV]['subtitle'] %>
        </span>
    </div>
   </div>
      <div id="welcome">
   Welcome to the data submission site for the ENCODE Consortium.
   This site is managed by the <%= link_to "modENCODE Data Coordination Center", "http://www.modencode.org/", { :target => "_blank" } %>.
   <ul>
     <li>
       <%= link_to "Log In", { :controller => :account, :action => :login }, { :style => "font-weight:bold" } %>
       <p style="margin-left: 2em">Existing users should log in.</p>
     </li>
     <li>
       <%= link_to "Sign Up", { :controller => :account, :action => :signup }, { :style => "font-weight:bold" } %>
       <p style="margin-left: 2em">If you do not have an account, sign up.<br/>Your account will be validated by email.</p>
        </li>
      
        <li>
          <%= link_to "Lost Password", { :controller => :account, :action => :forgot_password }, { :style => "font-weight:bold" } %>
          <p style="margin-left: 2em">You may change your password,<br/>if you know the email address used to sign up.<br/>Your change will be validated by email.</p>
        </li>
        <li>
          <%= link_to "Download Public Data", { :controller => :public, :action => :list }, { :style => "font-weight:bold" } %>
          <p style="margin-left: 2em">Any user can download publicly released data.</p>
          <p style="color:red; font-weight: bold;">NOTICE (09/17/2009): Public downloads are currently incomplete as we rebuild the data after a recent hardware failure.</p>
          <p style="color:red; font-weight: bold;">NOTICE (09/17/2009): The GBrowse genome browser and modENCODE wiki will be offline Saturday, September 19 while OICR tests its emergency power system. The outage will begin around 9 am in the morning, and will continue for several hours. This will not affect submission uploading, although submission validation will be offline.</p>
        </li>
      </ul>
   Before submitting data, the submission format must be defined
   by agreement between the DCC and the provider.  
   Please <%= link_to "contact the DCC", { :controller => :contact } %>
   to initiate a data agreement for your project.
    </div>
  </div>
    </div>
  </body>
</html>
